* {
  box-sizing: border-box;
  font-family: Verdana, Geneva, sans-serif;
  color: #333333;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

h1 {
  font-size: 1.5rem;
  font-weight: normal;
}

h2 {
  font-size: 1.25rem;
  font-weight: normal;
  margin-bottom: 8px;
}

h3 {
  font-size: 1rem;
}

a {
  color: #0066CC;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: .25rem 8px;
  background-color: #FFFFFF;
  border-bottom: 2px solid #999999;
  z-index: 1;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  font-size: .75rem;
  width: 100%;
  padding: .5rem 8px;
  background-color: #FFFFFF;
  border-top: 1px solid #999999;
  z-index: 1;
}

main {
  position: relative;
  padding: 4rem 8px 3rem 8px;
}

article {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  font-size: .75rem;
  line-height: 1rem;
  padding: 8px 0;
  margin: 0 16px;
  border-bottom: 1px solid #999999;
}

article h3, article time, article p {
  margin-bottom: .25rem;
}

.error {
  color: #990000;
}

@media only screen and (min-width: 600px) {
  article {
    flex-flow: row wrap;
  }

  article h3 {
    flex-basis: 50%;
  }

  article p {
    flex-basis: 100%;
  }

  article time {
    flex-basis: 50%;
    text-align: right;
  }

  article aside {
    flex-basis: 100%;
    text-align: right;
  }
}